body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    margin: 20px;
}

header {
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    justify-content: center;
}

#peliculas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  
  main {
    display: flex;
    overflow-x: auto; 
    padding: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 5px; /* Agrega un margen derecho para separar las tarjetas */
    overflow: hidden;
    width: 300px;
  }
  
  .card img {
    max-width: 100%;
  }
  
  .card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .card-info {
    margin: 10px;
  }
  
  .card-info p {
    margin: 5px 0;
  }
  